/* ====================================
===== IMPORT NORMALIZE & FONTS
==================================== */
@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* * {
    border: 1px solid #518ea7;
} */

/* ====================================
===== DEFINE COLORS
==================================== */

:root {
    --black: #191919;
    --ghostmagenta: #ff0042;
    --white: ghostwhite;
}


/* ====================================
===== GENERAL TEXT
==================================== */

/* SEARCH RESULTS TITLE */
h1 {
    font-size: 5rem;
    font-weight: 600;
    line-height: 3rem;
    text-align: center;
}

/* MEDIA SECTION TITLES */
h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1rem;
}

/* "IMAGE UNAVAILABLE" READOUT */
h3 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.5rem;
    color: var(--white);
    margin: 0 0 10px 10px;
}

/* MEDIA TITLES */
h5 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.9rem;
    margin: 20px 0;
    padding-right: 30px;
}

p {
    font-size: 1.2rem;
}

/* MEDIA TITLE HEADER */
.important {
    font-weight: 600;
    font-size: 1.25rem; 
}

/* ====================================
===== BODY PARTS
==================================== */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
}

header {
    margin: 0 1%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    margin: 25px auto;
    width: 90%;
}

footer {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: none;
    background-color: var(--black);
    color: var(--white);
    padding: 10px;
    border-bottom: 7px solid var(--ghostmagenta);
}

footer p {
    padding: 10px;
}

/* ====================================
===== FORMS & INPUTS
==================================== */



form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 75px auto;
    width: 100%;
    transition: ease-in-out 2s;
}

label {
    display: none;
}

input {
    outline: none;
    border: none;
    border-left: 3px solid var(--ghostmagenta);
    border-bottom: 3px solid var(--ghostmagenta);
    background-color: #f8f8ff00;
    color: var(--black);
    width: 90%;
    height: 50px;
    padding: 0 20px;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.search-button {
    border-right: none;
    border-left: none;
    border-right: 3px solid var(--ghostmagenta);
    border-bottom: 3px solid var(--ghostmagenta);
    width: 110px;
    height: 50px;
}

.search-button:hover {
    transition: ease-in 0.45s;
    background-color: var(--ghostmagenta);
    color: var(--white);
}

::placeholder {
    color: #808080;
}


/* ====================================
===== HEADER CONTENT
==================================== */

/* LOGO IMAGE SIZING */
.logo {
    width: 135px;
    height: 135px;
}

/* SEARCH, IMAGE ICONS */
.header-icon {
    width: 50px;
    height: 50px;
}


/* ====================================
===== MAIN CONTENT ====================
==================================== */

.media-layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
}

.media-section {
    margin-bottom: 50px;
    /* border: 3px solid blue; */
}

.media {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
    overflow: scroll;
}

/* PODCAST MEDIA ONLY */
.media-card-podcast {
    width: 200px;
    height: auto;
    margin-right: 3px;
}

.podcast {
    width: 200px;
    height: 200px;
}

/* YOUTUBE MEDIA ONLY */
.media-card-youtube {
    width: 320px;
    height: auto;
    margin-right: 3px;
}

.youtube {
    width: 320px;
    height: 180px;
}

/* TV/FILM MEDIA ONLY */
.media-card-movie {
    width: 300px;
    height: auto;
    margin-right: 3px;
}

.movie {
    width: 300px;
    height: 450px;
}

.movie-null {
    width: 295px;
    min-width: 295px;
    height: 444px;
    min-height: 444px;
    background-color: #191919;
    border: 3px solid #ff0042;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

/* MEDIA.QUERY 1250PX MEDIA.QUERY 1250PX MEDIA.QUERY 1250PX
// MEDIA.QUERY 1250PX MEDIA.QUERY 1250PX MEDIA.QUERY 1250PX
MEDIA.QUERY 1250PX MEDIA.QUERY 1250PX MEDIA.QUERY 1250PX */

@media screen and (min-width: 1250px) {

    header {
        margin: 0 10%;
    }

    main {
        margin: 50px 5%;
    }

    /* ====================================
    ===== GENERAL TEXT
    ==================================== */

    /* SEARCH RESULTS TITLE */
    h1 {
        font-size: 5rem;
        font-weight: 600;
        line-height: 3rem;
        text-align: center;
    }

    h2 {
        font-size: 3.75rem;
        font-weight: 600;
        line-height: 1rem;
    }

    h3 {
        font-size: 2.25rem;
        font-weight: 600;
        line-height: 2.5rem;
        color: var(--white);
        margin: 0 0 10px 10px;
    }
    
    h5 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.9rem;
        margin: 20px 0;
        text-transform: uppercase;
        padding-right: 50px;
    }

    .important {
        font-size: 1.25rem;
    }

    p {
        font-size: 1.2rem;
    }

    a {
        font-size: 1.75rem;
        font-weight: 600;
        text-decoration: none;
        color: var(--black);
    }

    a:hover {
        color: var(--ghostmagenta);
    }

    /* ====================================
    =======================================
    HEADER
    =======================================
    ==================================== */

    .header-icon {
        width: 50px;
        height: 50px;
    }

    .logo {
        width: 250px;
        height: 250px;
    }

        /* ====================================
    ===== SEARCH FUNCTION
    ==================================== */
    
    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 100px auto;
        width: 100%;
        transition: ease-in-out 2s;
    }

    label {
        display: none;
    }
    
    input {
        outline: none;
        border: none;
        border-right: 4px solid var(--ghostmagenta);
        border-bottom: 4px solid var(--ghostmagenta);
        background-color: #f8f8ff00;
        color: var(--black);
        width: 55%;
        height: 100px;
        padding: 0 20px;
        font-size: 3rem;
        text-transform: uppercase;
    }
    
    .search-button {
        border-right: none;
        border-top: 4px solid var(--ghostmagenta);
        border-bottom: 4px solid #f8f8ff;
        border-left: none;
        border-bottom: none;
        width: 200px;
        height: 104px;
        margin-left: -4px;
    }
    
    .search-button:hover {
        transition: ease-in 0.45s;
        background-color: var(--ghostmagenta);
        color: var(--white);
    }
    
    ::placeholder {
        color: #808080;
    }

    /* ====================================
    ===== MAIN CONTENT
    ==================================== */

    /* .search-media {
        display: flex;
        flex-direction: column;
    }
    
    .main-categories {
        align-self: flex-start;
        width: 90%;
        margin: 0 auto;
    }

    .main-categories-media {
        margin: 200px auto;
    }

    .media-cards {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .media-cards-image {
        height: 200px;
        min-height: 200px;
    }
    
    .podcast {
        height: 250px;
        min-height: 250px;
        width: 250px;
        min-width: 250px;
    }

    .youtube {
        width: 320px;
        min-width: 320px;
        margin-right: 20px;
    }

    .tv {
        width: 300px;
        min-width: 300px;
        height: 450px;
        min-height: 450px;
    }

    .tv-null {
        width: 295px;
        min-width: 295px;
        height: 444px;
        min-height: 444px;
        background-color: #191919;
        border: 3px solid #ff0042;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    } */

    /* ====================================
    ===== SEARCH RESULTS
    ==================================== */

    .search-results {
        margin: 100px auto;
        width: 90%;
    }

    .media-grid {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}