/* =================== IMPORTS =================== */
/* =================== IMPORTS =================== */
/* =================== IMPORTS =================== */

@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* BASIER SQUARE REGULAR */
@font-face {
    font-family: 'Basier Square Regular';
    src: url('fonts/basier-square-regular.eot');
    src: url('fonts/basier-square-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/basier-square-regular.woff2') format('woff2'),
         url('fonts/basier-square-regular.woff') format('woff'),
         url('fonts/basier-square-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* =================== COLOR VARIABLES =================== */
/* =================== COLOR VARIABLES =================== */
/* =================== COLOR VARIABLES =================== */

:root {
    --primary: #191919;
    --secondary: #f8f8ff;
    --tertiary: #ff0042;
    --quandary: #a8a8a8;
}

[data-theme="outrun"] {
    --primary: #1C0658;
    --secondary: #ffba00;
    --tertiary: #ff0042;
    --quandary: #36CDC4;
}


/* =================== BODY =================== */
/* =================== BODY =================== */
/* =================== BODY =================== */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary);
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    color: var(--secondary);
    overflow-x: hidden;
}

flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* =================== TEXT =================== */
/* =================== TEXT =================== */
/* =================== TEXT =================== */

/* SEARCH RESULTS TITLE */
h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 3rem;
    text-align: center;
}

/* MEDIA SECTION TITLES */
h2 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1rem;
}

/* "IMAGE UNAVAILABLE" READOUT */
h3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    color: var(--secondary);
    margin: 0 0 10px 10px;
}

/* MEDIA TITLE */
h5 {
    color: var(--tertiary);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.9rem;
    margin: 20px 0;
    padding-right: 30px;
}

/* LINKS */
a {
    text-decoration: none;
}

/* PODCAST DESCRIPTION, FOOTER */
p {
    color: var(--secondary);
    font-family: 'Basier Square Regular', sans-serif;
    font-size: 1.1rem;
    line-height: 2rem;
    text-transform: none;
}








/* MEDIA SECTION MORE SLIDER */
.slider-title {
    margin: 0 15px;
    font-weight: 400;
    color: var(--quandary);
    transition: ease-in-out 5s;
    cursor: pointer;
}

.no-click {
    cursor: auto;
}

.trivial {
    color: var(--tertiary);
}


/* =================== HEADER =================== */
/* =================== HEADER =================== */
/* =================== HEADER =================== */

header {
    margin: 0 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-icon {
    width: 50px;
    height: 50px;
    filter: invert(100%);
}

.header-logo {
    width: 135px;
    height: 135px;
    filter: invert(100%);
    cursor: pointer;
}

/* =================== MAIN =================== */
/* =================== MAIN =================== */
/* =================== MAIN =================== */

main {
    margin: 25px 7%;
}

/* FORMS FORMS FORMS FORMS */
/* FORMS FORMS FORMS FORMS */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 100px auto;
    width: 100%;
}

label {
    display: none;
}

input {
    outline: none;
    border: none;
    border-left: 3px solid var(--tertiary);
    border-bottom: 3px solid var(--tertiary);
    background-color: #f8f8ff00;
    color: var(--secondary);
    width: 90%;
    height: 50px;
    padding: 0 20px;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.search-button {
    border-right: none;
    border-left: none;
    border-right: 3px solid var(--tertiary);
    border-bottom: 3px solid var(--tertiary);
    width: 110px;
    height: 50px;
}

.search-button:hover {
    transition: ease-in 0.45s;
    background-color: var(--tertiary);
    color: var(--primary);
}

::placeholder {
    color: var(--quandary);
}

/* MEDIA MEDIA MEDIA MEDIA */
/* MEDIA MEDIA MEDIA MEDIA */

.media-layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
}

.media-section {
    margin-bottom: 50px;
    /* border: 3px solid blue; */
}

.section-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.section-title img {
    width: 80px;
    height: 80px;
}

.media {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
    overflow: scroll;
}

/* ****** MEDIA CARDS ****** */

.media-card {
    width: auto;
    height: auto;
    margin-right: 5px;
}

.media-card p {
    padding-right: 5px;
}

.podcast {
    width: 200px;
    height: 200px;
}

.series {
    width: 250px;
    height: 375px;
}

    /* CARD THAT HOVERS ABOVE TMDB DATA */
    .series-type {
        color: var(--secondary);
        text-align: left;
        width: 80px;
        padding: 7px;
        text-transform: uppercase;
    }

    .tv {
        background-color: var(--tertiary);
    }

    .movie {
        background-color: #278acc;
    }

    /* IF THERE IS NO SERIES/MOVIE IMAGE */
    .series-null {
        background-color: var(--primary);
        border: 3px solid var(--secondary);
        width: 244px;
        height: 369px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

.youtube {
    width: 320px;
    height: 180px;
}

/* RESULTS RESULTS RESULTS RESULTS */
/* RESULTS RESULTS RESULTS RESULTS */

.search-results {
    margin: 200px auto;
    width: 95%;
}

.media-grid {
    margin: 150px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.searched {
    margin-right: 30px;
    margin-bottom: 30px;
}

/* SEARCH */

.results-section-title {
    width: 172px;
    height: 172px;
    border: 4px solid var(--secondary);
    margin-right: 20px;
    margin-bottom: 20px;
}

.result-podcast {
    width: 180px;
    height: 180px;
}

.result-series {
    width: 125px;
    height: 180px;
}

.result-youtube {
    width: 320px;
    height: 180px;
}

.result-series-null {
    width: 125px;
    min-width: 125px;
    height: 180px;
    min-height: 180px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 20px 20px 0;
}

/* =================== FOOTER: SIGNOFF =================== */
/* =================== FOOTER: SIGNOFF =================== */
/* =================== FOOTER: SIGNOFF =================== */

footer {
    color: var(--secondary);
    background-color: black;
    border-top: 5px solid var(--secondary);
    width: 100%;
    margin-bottom: -15px;
    text-align: center;
}

footer p {
    padding: 25px 30px 30px 30px;
}

/* MEDIA.QUERY 1250PX MEDIA.QUERY 1250PX MEDIA.QUERY 1250PX */
/* MEDIA.QUERY 1250PX MEDIA.QUERY 1250PX MEDIA.QUERY 1250PX */
/* MEDIA.QUERY 1250PX MEDIA.QUERY 1250PX MEDIA.QUERY 1250PX */

@media screen and (min-width: 1250px) {

    /* =================== TEXT 1250 =================== */
    /* =================== TEXT 1250 =================== */
    /* =================== TEXT 1250 =================== */

    /* SEARCH RESULTS TITLE */
    h1 {
        font-size: 5rem;
        margin-top: 60px;
    }

    /* MEDIA SECTION TITLES */
    h2 {
        font-size: 3.25rem;
    }

    /* "IMAGE UNAVAILABLE" READOUT */
    h3 {
        font-size: 2.5rem;
    }

    /* "IMAGE UNAVAILABLE" READOUT FOR OMNI RESULTS */
    h4 {
        margin-left: 10px;
        font-size: 2rem;
        font-weight: 400;
        color: var(--primary);
    }

    /* MEDIA TITLES */
    h5 {
        font-size: 1.75rem;
        font-weight: 400;
        line-height: 1.9rem;
        padding-right: 20px;
        margin: 20px 0;
    }

    /* PODCAST DESCRIPTION, FOOTER */
    p {
        color: var(--secondary);
        font-family: 'Basier Square Regular', sans-serif;
        font-size: 1.3rem;
        line-height: 2rem;
        text-transform: none;
    }

    .header-link {
        font-size: 2rem;
        font-weight: 600;
        text-decoration: none;
        color: var(--secondary);
        cursor: pointer;
    }

    .header-link:hover {
        color: var(--tertiary);
    }

    /* =================== HEADER 1250 =================== */
    /* =================== HEADER 1250 =================== */
    /* =================== HEADER 1250 =================== */

    header {
        margin: 0 10%;
    }

    .header-logo {
        width: 300px;
        height: 300px;
    }

    /* =================== MAIN 1250 =================== */
    /* =================== MAIN 1250 =================== */
    /* =================== MAIN 1250 =================== */

    main {
        margin: 50px 7%;
    }

    /* FORMS FORMS FORMS FORMS */
    /* FORMS FORMS FORMS FORMS */

    .search-form {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 100px auto;
        transition: ease-in-out 2s;
    }

    input {
        border-left: none;
        border-right: 4px solid var(--tertiary);
        border-bottom: 4px solid var(--tertiary);
        width: 55%;
        height: 100px;
        font-size: 3rem;
    }

    .search-button {
        border: none;
        border-top: 4px solid var(--tertiary);
        border-left: none;
        border-bottom: none;
        width: 200px;
        height: 104px;
        margin-left: -4px;
    }

    /* MEDIA MEDIA MEDIA MEDIA */
    /* MEDIA MEDIA MEDIA MEDIA */

    .media-layout {
        margin: 50px auto;
    }
    
    .media-section {
        padding-bottom: 40px;
    }
    
    .section-title img {
        width: 70px;
        height: 70px;
    }
    
    /* PODCAST MEDIA ONLY */
    .media-card-podcast {
        width: 275px;
        margin-right: 5px;
    }
    
    .podcast {
        width: 275px;
        height: 275px;
    }
        
    /* YOUTUBE MEDIA ONLY */
    .media-card-youtube {
        width: 480px;
        margin-right: 5px;
    }

    .youtube {
        width: 480px;
        height: 270px;
    }
    
    /* SERIES/MOVIE MEDIA ONLY */
    .media-card-series {
        margin-right: 5px;
    }

    

    /* SEARCH */

    .results-section-title {
        width: 336px;
        height: 336px;
        border: 7px solid var(--secondary);
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .result-podcast {
        width: 350px;
        height: 350px;
    }

    .result-series {
        width: 242px;
        height: 350px;
    }

    .result-youtube {
        width: 622px;
        height: 350px;
    }

    .result-series-null {
        width: 242px;
        min-width: 242px;
        height: 350px;
        min-height: 350px;
        background-color: var(--secondary);
        /* border: 5px solid var(--secondary); */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        margin: 0 30px 30px 0;
    }
}